<!DOCTYPE html>
<html>
    <head>
        <title>台北一日遊</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='attraction.css')}}">
        <a href="attraction.html"></a>
        <!-- <meta http-equiv="refresh" content="url=/api/attraction"/> -->
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script> 
    </head>
    <body  onload="attractionPage()">
        <div class="nav">
            <div class="nav_bar">
                <div class="nav_left">台北一日遊</div>
                <div class="nav_right">
                    <span class="nav_right_item">預定行程</span>
                    <span class="nav_right_item">登陸/註冊</span>
                </div>
            </div>
        </div>


        <div class="section">
            <div id="section_left"></div>
            <div class="section_right">
                <div class="section_right_top">
                    <p class="attraction_name"></p>
                    <p class="attraction_loca"></p>
                </div>
                <div class="section_right_bottom">
                    <p>訂購導覽行程</p>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <p>選擇日期 :
                        <input type="date"> 
                    </p>
                    <div class="choose_time">
                        <div class="choose_time_click">選擇時間 :</div>
                        <div class="choose_time_click">
                            <div class="circle"></div>
                            <span class="circle_word">上半天</span>
                            <div class="blue_circle"></div>
                        </div>
                        <div class="choose_time_click">
                            <div class="circle"></div>
                            <span class="circle_word">下半天</span>
                            <div class="blue_circle"></div>
                        </div>
                    </div>
                    <div>
                        <span class="right_bottom_sapn1">導覽費用 :</span>
                        <span class="right_bottom_sapn2">新台幣 2000 元</span>
                    </div>
                    <div>
                        <botton class="right_bottom_botton">開始預定行程</botton>
                    </div>
                </div>
            </div>
        </div>
        <div class="infors">
            <p></p>
            <p>景點地址 :</p>
            <p></p>
            <p>交通方式 :</p>
            <p></p>
        </div>
        <div class="footer">COPYRIGHT © 2021台北一日遊</div>
    </body>
</html>