<!DOCTYPE html>
<html>
    <head>
        <title>Origin-Repository</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='attraction.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='week-7.js')}}"></script> 
    </head>
    <body>
        <div class="fullPage">
            
            <div class="leftTitle">台北一日遊</div>
            <div class="rightTitle">
                <span class="rightTitleItem">預定行程</span>
                <span class="rightTitleItem">登陸/註冊</span>
            </div>
            <div class="sitePicture"></div>
        
        </div>
    </body>
</html>