<!DOCTYPE html>
<html>
    <head>
        <title>台北一日遊</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='booking.css')}}">
        <a href="attraction.html"></a>
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script> 
        <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
        <script>
            TPDirect.setupSDK(124049, 'app_YXKSihcTzl6Imnn3yLA8FJpLYUHgbPZiUN7CSaNl6Otf4O1Jn8KZ9txsaZoh', 'sandbox')
        </script>
    </head>
    <body  onload="bookingPage()">
        <!-- ========================================================= body cover-->
        <div class="body_cover"></div>
        <!-- ========================================================= login box-->
        <div class="login_box">
            <form>
                <div class="inner_border"></div>
                <div class="login_box_inner">
                    <div>
                        <div class="login_box_inner_stitle">登入會員帳號</div><img id="close_login_box" src="icon_close.png"/>
                    </div>
                    <input id="login_1" type="test" placeholder="輸入姓名" name="login_name">
                    <input id="login_2" type="test" placeholder="輸入電子信箱" name="login_mail">
                    <input id="login_3" type="password" placeholder="輸入密碼" name="login_password">
                    <botton id="login_botton">登入帳戶</botton>
                    <div id="message"></div>
                    <div id="register_member">還沒有帳戶？點此註冊</div>
                </div>
            </form>    
        </div>
        <!-- ========================================================= error_message-->
        <div class="error_box">
            <div class="error_box_border">
                <div class="error_box_inner">
                    <div>
                        <div class="error_box_inner_stitle"></div><img id="close_error_box"/>
                    </div>
                    <div class="error_box_inner_text"></div>
                </div> 
            </div>
        </div>
        <!-- ========================================================= nav-->
        <div class="nav">
            <div class="nav_bar">
                <div class="nav_left">台北一日遊</div>
                <div class="nav_right">
                    <span class="nav_right_item">預定行程</span>
                    <span class="nav_right_item">登陸/註冊</span>
                    <span class="nav_login_logo"></span>
                </div>
            </div>
        </div>
        <!-- ========================================================= headline-->
        <div class="headline_main">
            <div class="headline_main_top"></div>
        </div>
        <!-- <div class="headline_1">
            <div class="headline_1_inner">目前沒有任何待預訂的行程</div>
        </div> -->
        <div class="headline_2">
            <div class="headline_2_inner">
                <!-- <img class="headline_2_left"></img> -->
                <div class="headline_2_right">
                    <div class="headline_2_right_first">
                        <div class="headline_2_right_stitle"></div>
                        <div id="headline_2_name"></div> 
                        <div class="remove"><img class="remove_booking"/></div>
                    </div>
                    <div id="date"></div>
                    <div id="time"></div>
                    <div id="price"></div>
                    <div id="address"></div>
                </div>
            </div>
        </div>
        <!-- <hr class="hr"/> -->
        <!-- ========================================================= contact-->
        <div class="contact">
            <div id="contact_stitle"></div>
            <div id="contact_name">
                <!-- <input class="contact_input" type="text" name="contact_name"> -->
            </div>
            <div id="contact_email">
                <!-- <input class="contact_input" type="text" name="contact_mail"> -->
            </div>
            <div id="contact_phone">
                <!-- <input class="contact_input" type="text" name="contact_phone"> -->
            </div>
            <div id="contact_notice"></div>
        </div>
        <!-- <hr class="hr"/> -->
        <!-- ========================================================= payment-->
        <div class="payment">
            <div id="payment_stitle"></div>
            <div class="payment_border">
                <div id="payment_1" class="payment_tp"></div>
                <div id="payment_1_status"></div>
            </div>
            <div class="payment_border">
                <div id="payment_2" class="payment_tp"></div>
                <div id="payment_2_status"></div>
            </div><div class="payment_border">
                <div id="payment_3" class="payment_tp"></div>
                <div id="payment_3_status"></div>
            </div>
        </div>
        <!-- <hr class="hr"/> -->
        <!-- ========================================================= confirm-->
        <div class="confirm">
            <div class="confirm_price">
                <!-- <div class="confirm_price_inner"></div> -->
            </div>
            <!-- <botton class="confirm_botton">確認訂購並付款</botton> -->
        </div>
        <!-- ========================================================= footer-->
        <!-- <div class="tpfield" id="card-number"></div>
        <div class="tpfield" id="card-expiration-date"></div>
        <div class="tpfield" id="card-ccv"></div> -->
        <div class="footer"><span>COPYRIGHT © 2021台北一日遊<span></div>
    </body>
</html>
        