<!DOCTYPE html>
<html>
    <head>
        <title>Origin-Repository</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script> 
    </head>
    <body onload="indexPage(0)">
        <div class="nav">
            <div class="nav_bar">
                <div class="nav_left">台北一日遊</div>
                <div class="nav_right">
                    <span class="nav_right_item">預定行程</span>
                    <span class="nav_right_item">登陸/註冊</span>
                </div>
            </div>
        </div>
            <div class="header">
                <p class="header_inner">輕鬆享受台北一日悠閒</p>
                <p class="header_inner">探索每個角落，體驗城市的深度旅遊行程</p>
                <p class="header_inner">
                    <input id="header_input" placeholder="輸入景點名稱查詢" type="text" name="keyword">
                        <button id="search" type="submit">
                            <img src="icon_search.png"/>
                        </button>
                    </input>
                </p>
                <p class="header_inner">
                    <img class="header_img" src="welcome1.png"/>
                </p>
            </div>
        <div class="footer">COPYRIGHT © 2021台北一日遊</div>
        <script src="index.js"></script> 
    </body>
</html>